nav{
border-bottom: 1px solid #ccc;
}
nav ul{
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;
}
nav ul li{
display: table-cell;
min-width: 50px;
border-right: 1px solid #ccc;
}
nav ul li:first-child{
border-left: 1px solid #ccc;
}
nav ul li a{
display: block;
width: 100%;
padding: 10px 0;
text-decoration: none;
color: black;
}
nav ul li a:hover{
background-color:#DCFFD8;
border-bottom: 5px solid #DCFFD8;
}
nav ul li.current{
font-weight: bold;
}
nav ul li.current a{
border-bottom: 5px solid #55FF41;
color: #55FF41;
}

.gosick {
    font-family:"Hiragino Sans", "ヒラギノ角ゴシック","Meiryo", "メイリオ";
}